POSTGRES_HOST=/var/run/postgresql
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres

PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=password

APP_CONNECTION_STRING="Host=$POSTGRES_HOST;Port=$POSTGRES_PORT;Username=$POSTGRES_USER;Password=$POSTGRES_PASSWORD;Database=$POSTGRES_DB"
MIGRATIONS_CONNECTION_STRING="host='$POSTGRES_HOST' port='$POSTGRES_PORT' dbname='$POSTGRES_DB' user='$POSTGRES_USER' password='$POSTGRES_PASSWORD'"